flask>=3.0.3
fuzzywuzzy>=0.18.0
google-auth>=2.29.0
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.0
google-api-python-client>=2.129.0
Levenshtein>=0.25.1
pwinput>=1.0.3
requests>=2.31.0
selenium>=4.21.0
steam @ git+https://github.com/FailSpy/steam-py-lib@master # patched steam python library using changes from artur1214 until fixed on main repo